td.details-control {
    /* background: url('./img/details_open.png') no-repeat center center; */
}


/*
td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}
*/

tr.hided {
    display: none;
}

tr.childitem {
    background-color: #C0C0C0!important;
}

tr.opend td.details-control {
    background: url('./img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.closed td.details-control {
    background: url('./img/details_close.png') no-repeat center center;
    cursor: pointer;
}