td.details-control {
    /* background: url('./img/details_open.png') no-repeat center center; */
}

tr.hided {
    display: none;
}

tr.opend td.details-control {
    background: url('./img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.closed td.details-control {
    background: url('./img/details_close.png') no-repeat center center;
    cursor: pointer;
}